@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

body {
  font-family: 'Roboto', sans-serif !important;
  margin: 0;
  padding: 0;
  color: #222222;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}

/* -------------------------------- 

Main Page Content

-------------------------------- */
.cd-main-header ol,
.cd-main-header ul,
.cd-main-content ol,
.cd-main-content ul {
  list-style: none;
}

.cd-main-content .content-wrapper {
  padding: 60px 3%;
}

.cd-main-content .content-wrapper h1 {
  text-align: center;
  padding: 3em 0;
  font-size: 2rem;
}

.cd-main-content::before {
  /* never visible - used to check MQ in jQuery */
  display: none;
  content: 'mobile';
}

@media only screen and (min-width: 768px) {
  .cd-main-content .content-wrapper {
    margin-left: 110px;
    padding-top: 55px;
  }

  .cd-main-content .content-wrapper h1 {
    padding: 4em 0;
    font-size: 3.2rem;
    font-weight: 300;
  }

  .cd-main-content::before {
    content: 'tablet';
  }
}

@media only screen and (min-width: 1170px) {
  .cd-main-content .content-wrapper {
    margin-left: 220px;
  }

  .cd-main-content::before {
    content: 'desktop';
  }
}

/* -------------------------------- 

Header

-------------------------------- */
.cd-main-header {
  position: absolute;
  z-index: 6;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #222222;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cd-main-header::after {
  clear: both;
  content: "";
  display: table;
}

@media only screen and (min-width: 768px) {
  .cd-main-header {
    position: fixed;
    height: 60px;
  }
}

.cd-logo {
  float: left;
  display: block;
  margin: 11px 0 0 5%;
  color: #dd2d3e;
  font-size: 18px;
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  .cd-logo {
    margin: 14px 0 0 58px;
  }
}

.cd-nav-trigger {
  /* navigation trigger - visible on mobile devices only */
  float: right;
  position: relative;
  display: block;
  width: 34px;
  height: 50px;
  margin-right: 5%;
  /* hide text */
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
}

.cd-nav-trigger span,
.cd-nav-trigger span::before,
.cd-nav-trigger span::after {
  /* hamburger icon in CSS */
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 24px;
  background: #ffffff;
}

.cd-nav-trigger span {
  /* line in the center */
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -2px;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}

.cd-nav-trigger span::before,
.cd-nav-trigger span::after {
  /* other 2 lines */
  content: '';
  right: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}

.cd-nav-trigger span::before {
  /* menu icon top line */
  top: -6px;
}

.cd-nav-trigger span::after {
  /* menu icon bottom line */
  top: 6px;
}

.cd-nav-trigger.nav-is-visible span {
  /* hide line in the center */
  background: rgba(255, 255, 255, 0);
}

.cd-nav-trigger.nav-is-visible span::before,
.cd-nav-trigger.nav-is-visible span::after {
  /* keep visible other 2 lines */
  background: white;
}

.cd-nav-trigger.nav-is-visible span::before {
  -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
  transform: translateX(4px) translateY(-3px) rotate(45deg);
}

.cd-nav-trigger.nav-is-visible span::after {
  -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
  transform: translateX(4px) translateY(2px) rotate(-45deg);
}

@media only screen and (min-width: 768px) {
  .cd-nav-trigger {
    display: none;
  }
}

.cd-search {
  position: relative;
  margin: 1.2em 5% 0.6em;
}

.cd-search.is-hidden {
  opacity: 0;
}

.cd-search::before {
  /* lens icon */
  content: '';
  position: absolute;
  left: 8px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 16px;
  width: 16px;

}

.cd-search input {
  padding-left: 32px;
  width: 100%;
  height: 36px;
  border: none;
  border-radius: .25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.cd-search input:focus {
  outline: none;
}

@media only screen and (min-width: 768px) {
  .cd-search {
    float: left;
    display: inline-block;
    width: 250px;
    height: 100%;
    margin: 0 0 0 2.5em;
  }

  .cd-search.is-hidden {
    /* reset style */
    opacity: 1;
  }

  .cd-search::before {
    background-position: 0 -16px;
    left: 1em;
  }

  .cd-search form,
  .cd-search input {
    height: 100%;
    width: 100%;
  }

  .cd-search input {
    border: none;
    padding-left: 2.6em;
    border-radius: 0;
    background-color: #cacaca;
    border-left: 1px solid #b9b9b9;
    color: #ffffff;
  }

  .cd-search input::-webkit-input-placeholder {
    color: #777c81;
  }

  .cd-search input::-moz-placeholder {
    color: #777c81;
  }

  .cd-search input:-moz-placeholder {
    color: #777c81;
  }

  .cd-search input:-ms-input-placeholder {
    color: #777c81;
  }
}

/* -------------------------------- 

Top Navigation

-------------------------------- */
.cd-nav {
  /* top nav - not visible on mobile devices */
  display: none;
}

@media only screen and (min-width: 768px) {
  .cd-nav {
    display: block;
    float: right;
    height: 100%;
  }
}

.cd-top-nav>li>a::before {
  /* reset style */
  display: none;
}

.cd-top-nav>li a {
  padding: 1em 5% !important;
}

.cd-top-nav img {
  /* avatar image */
  position: absolute;
  left: 1.8em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: none;
}

@media only screen and (min-width: 768px) {
  .cd-top-nav {
    height: 100%;
  }

  .cd-top-nav a {
    display: inline-block;
    font-size: 1.4rem;
    color: #000;
    font-family: 'Roboto', sans-serif;
  }

  .cd-top-nav>li {
    display: inline-block;
    /*    margin-right: 1em;*/
    height: 100%;
  }

  .cd-top-nav>li:last-of-type {
    margin-right: 0;
  }

  .cd-top-nav>li a {
    padding: 1em .6em !important;
  }

  .cd-top-nav img {
    display: block;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-top-nav li:not(.has-children) a:hover {
    color: #1784c7;
  }
}

/* -------------------------------- 

Sidebar

-------------------------------- */
.cd-side-nav {
  position: absolute;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  padding: 45px 0 0;
  background-color: #222222;
  visibility: hidden;
  opacity: 0;
  max-height: 100vh;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}

.cd-side-nav.nav-is-visible {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0s;
  transition: opacity 0.2s 0s, visibility 0s 0s;
  max-height: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.cd-side-nav>ul {
  padding: 0.6em 0;
}

.cd-side-nav>ul:last-of-type {
  padding-bottom: 0;
}

.cd-side-nav .cd-label,
.cd-side-nav a {
  display: block;
  padding: 1em 5%;
}

.cd-side-nav .cd-label {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-size: 12px;
  letter-spacing: .1em;
}

.cd-side-nav a {
  position: relative;
  color: #ffffff;
  font-size: 1.4rem;
}

.cd-side-nav ul.cd-top-nav>li:last-of-type>a {
  border-bottom: none;
}

.cd-side-nav>ul>li>a {
  padding-left: calc(5% + 24px);
  border-bottom: 1px solid #373d44;
  font-size: 16px;
}

.cd-side-nav>ul>li>a::before {
  /* icon before item name */
  position: absolute;
  content: '';
  left: 5%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  /*background: url(../img/cd-nav-icons.svg) no-repeat 0 0;*/
}

.cd-side-nav .count {
  /* notification badge */
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: calc(5% + 16px + 0.4em);
  padding: 0.2em 0.4em;
  background-color: #ff7e66;
  border-radius: .25em;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.cd-side-nav .action-btn a {
  background-color: #fff;
  border-radius: 0;
  color: #000;
  border: 2px solid #fff;
  display: block;
  margin: 0 5%;
  padding: 1em 0;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-align: center;
  font-weight: bold;
}

.cd-side-nav .action-btn a::before {
  display: none;
}

@media only screen and (max-width: 492px) {
  .cd-main-header {
    position: fixed;
  }

  /*Left side*/
  /*  .cd-side-nav {
    position: fixed;
    z-index: 4;
    right: 0;
    top: 0;
    width: 0;
    padding: 45px 0 0;
    background-color: #2c3136;
    visibility: hidden;
    opacity: 0;
    max-height: 100vh;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
  }
  .cd-side-nav.nav-is-visible {
     width: 80%;
    opacity: 1;
    visibility: visible;
    overflow: visible;
    -webkit-overflow-scrolling: touch;
    transition: 0.5s;
    min-height: 100vh;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }*/
  /*Right side*/
  .cd-side-nav {
    position: fixed;
    z-index: 4;
    right: 0;
    top: 0;
    left: 100%;
    width: 0;
    padding: 45px 0 0;
    background-color: #222222;
    visibility: hidden;
    opacity: 0;
    max-height: 100vh;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
  }

  .cd-side-nav.nav-is-visible {
    width: 80%;
    left: 20%;
    opacity: 1;
    visibility: visible;
    overflow: visible;
    -webkit-overflow-scrolling: touch;
    transition: 0.5s;
    min-height: 100vh;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
}

@media only screen and (min-width: 768px) {
  .cd-side-nav {
    /*position: relative;*/
    float: left;
    top: auto;
    width: 110px;
    min-height: 100vh;
    padding-top: 55px;
    /* reset style */
    visibility: visible;
    opacity: 1;
    overflow: visible;
    max-height: none;
  }

  .cd-side-nav.nav-is-visible {
    box-shadow: none;
  }

  .cd-side-nav.is-fixed {
    position: fixed;
  }

  .cd-side-nav>ul {
    /* reset style */
    padding: 0;
  }

  .cd-side-nav .cd-label {
    /* remove labels on minified version of the sidebar */
    display: none;
  }

  .cd-side-nav a {
    font-size: 1.2rem;
    text-align: center;
  }

  .cd-side-nav>ul>li>a {
    padding: calc(2.2em + 24px) 0 2.4em;
  }

  .cd-side-nav>ul>li>a::before {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 2.4em;
  }

  .cd-side-nav .active>a {
    /* current page */
    box-shadow: inset 3px 0 0 #1784c7;
    background-color: #33383e;
  }

  .cd-side-nav .action-btn a {
    margin: 1em 10% 0;
  }

  .cd-side-nav .count {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    padding: 0;
    top: 2em;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    left: calc(50% + 5px);
    right: auto;
    color: transparent;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-side-nav {
    width: 220px;
  }

  .cd-side-nav>ul {
    padding: 0.3em 0;
  }

  .cd-side-nav>ul>li:not(.action-btn):hover>a {
    background-color: #dd2d3e;
  }

  .cd-side-nav>ul>li>a {
    padding: 1em 1em 1em 30px;
    text-align: left;
    border-bottom: none;
  }

  .cd-side-nav>ul>li>a::before {
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 18px;
  }

  .cd-side-nav .cd-label {
    display: block;
    padding: 1em 18px;
  }

  .cd-side-nav .action-btn {
    text-align: left;
  }

  .cd-side-nav .action-btn a {
    margin: 0 18px;
  }

  .no-touch .cd-side-nav .action-btn a:hover {
    background-color: #1a93de;
  }

  .cd-side-nav .count {
    /* reset style */
    color: #ffffff;
    height: auto;
    width: auto;
    border-radius: .25em;
    padding: .2em .4em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 18px;
    left: auto;
    box-shadow: none;
  }
}

.has-children ul {
  position: relative;
  width: 100%;
  display: none;
  background-color: #333;
}

/*
.has-children > a::after {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  right: 5%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../img/cd-arrow.svg);
}
*/

.has-children.selected>ul {
  display: block;
}

.has-children.selected>a::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

@media only screen and (min-width: 768px) {
  .has-children {
    position: relative;
  }

  .has-children ul {
    position: absolute;
    top: 0;
    left: 100%;
    width: 160px;
    padding: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }

  .has-children ul a {
    text-align: left;
    border: none;
    padding: 1em;
  }

  .no-touch .has-children ul a:hover {
    color: #1784c7;
  }

  .has-children>a::after {
    display: none;
  }

  .cd-side-nav .has-children.selected>a {
    /* focus state -> show sub pages */
    background-color: #33383e;
  }

  .cd-top-nav .has-children {
    position: relative;
  }

  .cd-top-nav .has-children>a {
    height: 100%;
    padding: 0 calc(1.8em + 22px) 0 calc(1.8em + 26px) !important;
    line-height: 55px;
    color: #fff;
    font-size: 16px;
  }

  .has-children>a:first-child {
    padding: 0 !important;
  }

  .cd-top-nav .has-children>a::after {
    display: block;
    right: 1.8em;
  }

  .cd-top-nav .has-children ul {
    background-color: #d4d4d4;
    width: 200px;
    top: 100%;
    right: 0;
    left: auto;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  }

  .cd-top-nav .has-children ul a {
    padding-left: 18px !important;
  }
}

@media only screen and (min-width: 1170px) {
  .has-children>ul {
    width: 100%;
    z-index: 1;
  }

  .has-children ul a {
    padding-left: 18px;
  }

  .has-children.active>ul {
    /* if the item is active, make the subnavigation visible */
    position: relative;
    display: block;
    /* reset style */
    left: 0;
    box-shadow: none;
  }

  .no-touch .cd-side-nav .has-children:hover>ul,
  .cd-side-nav .has-children.hover>ul {
    /* show subnavigation on hover */
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

/* -------------------------------- 

Dashboard page style

-------------------------------- */
.pageheader h2 {
  display: inline-block;
  color: #4a555b;
  font-size: 32px;
  font-weight: 300;
  margin-top: 0;
}

.pageheader h2 span {
  font-size: 14px;
  color: #95a2a9;
  font-style: italic;
}

.pageheader .page-bar {
  background-color: #fff;
}

.pageheader .page-bar .page-breadcrumb {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}

.pageheader .page-bar .page-breadcrumb>li:first-child {
  background-color: #493d55;
  margin-right: 8px;
}

.pageheader .page-bar .page-breadcrumb>li {
  display: inline-block;
}

.pageheader .page-bar .page-breadcrumb>li:first-child:before {
  content: "";
}

.pageheader .page-bar .page-breadcrumb>li:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f105";
  color: #95a2a9;
}

.pageheader {
  margin: 15px 0;
}

.pageheader .page-bar .page-breadcrumb>li>a {
  color: #95a2a9;
  padding: 8px 10px;
  display: inline-block;
}

.page-dashboard .alert {
  padding: 10px 15px;
  border-radius: 0;
  border: 0;
  border-left: 3px solid;
}

.page-dashboard .alert.alert-danger {
  color: #d9534f;
  background-color: #fdf7f7;
  margin: 15px 0;
}

/*
.view-data-table, .search-filter{
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border: 0;
  border-radius: 3px;
  padding: 15px;
}
*/
.view-data-table h2 {
  padding: 0;
  font-size: 22px;
  margin: 0;
}

.view-data-table .table {
  background-color: #fff;
}

.view-data-table .data-table-head {
  background-color: #222222;
  height: 50px;
  color: #fff;
}

.view-data-table .data-table-head th,
.view-data-table .data-table-body td {
  padding: 16px 10px;
  vertical-align: middle;
}

.admin-login-btn {
  background-color: #1ab4e0;
  font-size: 18px !important;
  border-radius: 0 !important;
  padding: 8px 24px !important;
  color: #fff;
  border: 0 !important;
}

/* -------------------------------- 

Footer page style

-------------------------------- */
.footer-section {
  background-color: #2d3136;
}

.footer-section p {
  margin: 15px;
}

.footer-section p a {
  color: #fff;
  font-size: 16px;
}

/* -------------------------------- 

Common style

-------------------------------- */
.cd-side-nav a:hover,
.cd-nav a:hover {
  color: #ffffff !important;
  text-decoration: none !important;
}

.btn-view {
  color: #fff;
  background-color: #5b8ad8;
  border-color: #4da4de !important;
}

.btn-lightred {
  background-color: #e05d6f;
  color: #fff;
  border-color: #dc485c;
}

.search-filter p {
  font-weight: 300;
  color: #4a555b;
  font-size: 18px;
}

.search-filter .filter-btn {
  background-color: #1ab4e0;
  font-size: 12px;
  border-radius: 16px;
  color: #fff;
  border: 0;
}

.search-filter.mtb-15 {
  margin: 30px 0 15px;
}

.admin-model .modal-header {
  background-color: #49a2fb;
  text-align: center;
  color: #fff;
}

.admin-model .modal-header .fa-times {
  cursor: pointer;
}

.admin-model .modal-footer {
  text-align: center;
  background-color: #dadada;
}

.refund-btn {
  background-color: #1ab4e0;
  font-size: 12px;
  border-radius: 0;
  color: #fff;
  border: 0;
}

.cd-side-nav i {
  margin-right: 10px;
}

.login-bg {
  background: url('./assets/img/login-banner.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100px;
  margin: 0 auto 10px;
}

.logo-small {
  width: 40px;
  margin-right: 8px;
}

.logo-text {
  font-size: 30px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin: 0 0 30px;
}

.form-cont {
  -webkit-background: rgba(255, 255, 255, 0.1);
  -moz-background: rgba(255, 255, 255, 0.1);
  -ms-background: rgba(255, 255, 255, 0.1);
  -o-background: rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 50px 15px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.dashboard-form-cont {
  padding: 0 0 25px;
  border-bottom: 1px dashed #b7b7b7;
}

.dashboard-form-cont:last-child {
  border-bottom: none;
}

/* ========== FORM ========== */
.custom-input .group {
  position: relative;
  margin-bottom: 25px;
}

.custom-input input {
  font-size: 18px;
  padding: 24px 15px 10px;
  border-radius: 6px;
  border: 1px solid #b7b7b7;
  width: 100%;
  resize: none;
  height: 58px;
  overflow: hidden;
}

.custom-input textarea {
  font-size: 18px;
  padding: 24px 15px 10px;
  border-radius: 6px;
  border: 1px solid #b7b7b7;
  width: 100%;
  resize: none;
  overflow: hidden;
}

.custom-input input:focus,
.custom-input textarea:focus {
  outline: none;
  border: 1px solid #dd2d3e;
}

.custom-select {
  width: 100%;
  height: 58px;
  overflow: hidden;
  border-radius: 6px;
  background: no-repeat #ffffff;
  border: 1px solid #b7b7b7;
  background-image: url('./assets/img/dropdown-arrow.png');
  background-position: center right;
  margin: 0 0 25px;
}

.custom-select select {
  -webkit-appearance: none;
  border-radius: 6px;
  -webkit-border-radius: 0;
  background: transparent;
  padding: 8px 15px;
  font-size: 18px;
  text-align: left;
  height: 58px;
  width: 100%;
  overflow: hidden;
  border: none;
}

.custom-input label {
  color: #888888;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  position: absolute;
  pointer-events: none;
  left: 16px;
  right: 16px;
  top: 18px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.custom-input input:focus~label,
.custom-input input:valid~label {
  top: 6px;
  font-size: 13px;
  font-weight: 600;
  color: #dd2d3e;
}

.custom-input input.present~label {
  top: 6px;
  font-size: 12px;
  font-weight: 600;
  color: #dd2d3e;
}

.custom-input textarea:focus~label,
.custom-input textarea:valid~label {
  font-size: 13px;
  font-weight: 600;
  color: #345a9c;
  width: 94%;
  margin-top: -17px;
  margin-left: -7px;
  background-color: #fff;
}

.primary-btn {
  font-size: 15px !important;
  font-weight: 700 !important;
  height: 58px;
  background: #dd2d3e;
  color: #ffffff;
  width: 100%;
  border-radius: 6px !important;
  text-transform: uppercase;
}

.primary-btn:hover,
.primary-btn:focus {
  background: #ca1d2e;
  color: #ffffff !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.forgot-pw {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  display: block;
  color: #ffffff;
  margin: 20px 0 0;
}

.forgot-pw:hover,
.forgot-pw:focus {
  text-decoration: underline;
  color: #ffffff;
}

.dashboard-banner {
  background: url('./assets/img/dashboard-banner.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 100px 0 60px;
  margin: 0 0 0 220px;
}

.dashboard-banner .heading {
  font-size: 36px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  margin: 0 0 30px;
}

.logout {
  color: #ffffff !important;
  font-size: 16px !important;
  font-weight: 700;
}

.refund-btn {
  font-size: 15px !important;
  font-weight: 700 !important;
  text-transform: uppercase;
  height: 56px;
  background: #dd2d3e;
  color: #ffffff;
  border-radius: 6px !important;
  padding: 6px 40px !important;
  margin: 0px 0 0 10px;
  min-width: 220px;
}

.admin-btn {
  font-size: 15px !important;
  font-weight: 700 !important;
  text-transform: uppercase;
  height: 56px;
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff !important;
  border-radius: 6px !important;
  padding: 6px 40px !important;
  margin: 0 10px 0 0;
  min-width: 220px;
}

.page-dashboard .sub-heading {
  font-size: 30px;
  color: #222222;
  text-align: center;
  margin: 50px 0 30px;
}

.dashboard-form-cont .small-heading {
  font-size: 14px;
  color: #888888;
  text-align: center;
  margin: -25px 0 30px 0;
}

.price-section {
  background: #ddd;
  height: 60px;
  border: 1px dashed #b7b7b7;
  border-radius: 6px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 25px 0 40px 0;
}

.price-section .bdr {
  width: 1px;
  height: 60px;
  border-left: 1px dashed #b7b7b7;
  margin: 0;
}

.price-section span {
  font-size: 20px;
  font-weight: 400;
  color: #222222;
}

.green-btn {
  font-size: 15px !important;
  font-weight: 700 !important;
  height: 56px;
  background: #34d293;
  color: #ffffff;
  border-radius: 6px !important;
  padding: 6px 40px !important;
  margin: 0 auto;
  display: block !important;
  text-transform: uppercase;
  min-width: 220px;
}

.radio-cont {
  text-align: center;
}

.radio-cont .form-check {
  display: inline;
  margin: 0 10px;
}

.radio-cont .form-check label {
  border: solid 1px #b7b7b7;
  border-radius: 6px;
  padding: 15px 50px 15px 15px;
  width: 150px;
}

.radio-cont .form-check label:focus {
  background: #f5e4e5;
  border: solid 1px #dd2d3e;
}

/* RADIO BUTTON */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #222;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 10%;
  top: 30%;
  width: 18px;
  height: 18px;
  border: 1px solid #b7b7b7;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #dd2d3e;
  position: absolute;
  top: 35%;
  left: 12%;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* RADIO BUTTON */

.buttons-cont {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.buttons-cont .green-btn {
  margin: 0 !important;
}

.buttons-cont .reset-btn {
  border: 1px solid #222222 !important;
  color: #222222;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
  border: none !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}

.view-data-table .data-table-head th {
  height: 60px;
}

.view-data-table .edit-icn i {
  color: #888888;
  font-size: 20px;
}

/* CHECKBOX */
/* The container */
.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border: solid 1px #888;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
/*
.custom-checkbox:hover input ~ .checkmark {
    background-color: #dd2d3e;
    border: 1px solid #dd2d3e;
}
*/

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked~.checkmark {
  background-color: #dd2d3e;
  border: 1px solid #dd2d3e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
  left: 5px;
  top: -1px;
  width: 6px;
  height: 14px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* CHECKBOX */

.btn-xs-red {
  border-radius: 3px;
  background-color: #dd2d3e;
  font-size: 12px !important;
  font-weight: 700 !important;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 22px;
  border-radius: 3px;
}

.btn-xs-blue {
  border-radius: 3px;
  background-color: #157FFB;
  font-size: 12px !important;
  font-weight: 700 !important;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 22px;
  border-radius: 3px;
}

.search-filter .form-control {
  height: 40 !important;
  color: #888888 !important;
}

.pagination-cont {
  text-align: right;
}

.pagination {
  float: right;
  margin: 0 !important;
}

.pagination a {
  padding: 2px !important;
  width: 25px;
  height: 25px;
  text-align: center;
  background: rgba(221, 45, 62, 0.2) !important;
  color: #dd2d3e !important;
  border-radius: 3px !important;
  border: none !important;
  margin: 0 5px !important;
}

.pagination li:last-child a {
  background: rgba(221, 45, 62, 0) !important;
  font-weight: 700;
}

.rows-showing {
  display: inline-block;
  margin: 5px 10px 0px 0px;
}

.select-row {
  display: flex;
  align-items: center;
}

.select-row .select-row p {
  margin: 0 !important;
}

.view-data-table .custom-select {
  width: 60px !important;
  height: 30px !important;
  margin: 0 0 0 10px;
}

.view-data-table .custom-select select {
  width: 60px !important;
  height: 30px !important;
  margin: 0 !important;
  padding: 0px 10px !important;
}

.submit-cont {
  background: rgba(221, 45, 62, 0.2);
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 60px;
  margin: 30px 0 0;
}

.submit-cont h4 {
  font-size: 20px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #dd2d3e;
}

.refresh {
  padding: 0 !important;
}

.refresh i {
  color: #dd2d3e;
  font-size: 20px;
}

.T-margin-20 {
  margin-top: 20px;
}

.color-green {
  color: #34d293;
}

.color-yellow {
  color: #ffb93c;
}

.flex-cont {
  display: flex;
  align-items: center;
}

.search-filter .export-icn {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.16px;
  text-align: left;
  color: #dd2d3e;
}

.search-filter .export-icn i {
  font-size: 20px;
  margin-left: 8px;
}

.cd-logo:hover {
  color: #fff;
  text-decoration: none;
}



@media (max-width: 767px) {
  .cd-main-content .content-wrapper {
    padding: 0 0 50px;
  }

  .logo {
    width: 80px;
  }

  .logo-text {
    font-size: 20px;
    margin: 0 0 15px;
  }

  .form-cont {
    padding: 30px 10px;
  }

  .dashboard-banner {
    margin: 0 0 0 0;
    padding: 70px 0 30px;
  }

  .dashboard-banner .refund-btn {
    margin: 0 0 0 0;
  }

  .dashboard-banner .admin-btn {
    margin: 0 0 10px 0;
  }

  .dashboard-banner .heading {
    font-size: 26px;
    margin: 0 0 20px;
  }

  .price-section {
    display: block;
    height: auto;
  }

  .price-section span {
    display: block;
    text-align: center;
    font-size: 16px;
    padding: 5px 0;
  }

  .price-section .bdr {
    display: none;
  }

  .buttons-cont {
    display: block;
    margin-top: 30px;
  }

  .buttons-cont .green-btn,
  .refund-btn,
  .admin-btn {
    margin: 20px auto !important;
    display: block !important;
    margin-bottom: 10px !important;
  }

  .radio-cont .form-check {
    margin: 0 5px;
  }

  .radio-cont .form-check label {
    width: 130px;
    padding: 15px 30px 15px 15px;
  }

  .search-filter.mtb-15 {
    margin: 70px 0 15px;
  }

  .pagination-cont {
    text-align: left;
  }

  .rows-showing,
  .pagination {
    float: left;
    margin-top: 20px !important;
  }

  .custom-input label,
  .custom-select select {
    font-size: 16px;
  }

  .page-dashboard .sub-heading {
    font-size: 24px;
  }

  .submit-cont {
    border-radius: 0px;
    margin: 50px 0 0;
  }

  .submit-cont h4 {
    font-size: 15px;
    text-align: center;
    line-height: 1.3;
  }

  .cd-side-nav>ul>li>a {
    padding-left: calc(5% + 0px);
  }

  .view-data-table .data-table-head th:first-child,
  .view-data-table .data-table-body td:first-child {
    padding: 15px 0 15px 15px;
  }
}