@import "../../assets/sass/mixin";
@import "../../assets/sass/variables";

ul.sidebarnav {
  position: fixed;
  width: calc(20% - 27px);

  @include desk {
    width: calc(25% - 26px);
  }

  @include tab {
    width: calc(30% - 25.5px);
  }

  @include mobile {
    position: relative;
    width: auto;
  }

  li {
    cursor: pointer;
    transition: all 0.2s;
    list-style: none;

    a {
      padding: 15px 30px;
      display: block;
      color: #ffffff;
      @include font-size(14);
      text-decoration: none;
      display: flex;

      @include tab {
        padding: 15px;
      }

      @include mobile-small {
        padding: 10px 15px;
      }

      &.active {
        background-color: $theme-red;
      }

      &:hover {
        background-color: $theme-red;
      }
    }

    i.fa {
      @include font-size(20);
      width: 28px;
    }
  }
}